{% extends "admin/base_site.html" %} {% block branding %}
<h1 id="site-name">Pigeon Headquarters</h1>
{% endblock %} {% block content %}
<h1>{{ group.name }}</h1>
<div class="js-inline-admin-formset inline-group" data-inline-type="tabular">
  <div class="tabular inline-related last-related">
    <fieldset class="module ">
      <h2>Distributor - {{ group.members.count }} recipients</h2>
      <table>
        <thead>
          <tr>
            <th class="original"></th>
            <th>Method</th>
            <th>Data</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>
          <tr class="form-row row1 has_original dynamic-Group_members">
            <form action="?&query={{ group.id }}" method="POST">
              <td class="original"></td>
              <td>
                SMS
              </td>
              <td class="delete">
                {%csrf_token%}
                <input type="hidden" name="type" value="sms" />
                <textarea name="message" rows="4" cols="50" value=""></textarea>
              </td>
              <td>
                <input type="submit" value="Send" />
              </td>
            </form>
          </tr>
        </tbody>
        <tbody>
          <tr class="form-row row1 has_original dynamic-Group_members">
            <form
              action="?&query={{ group.id }}"
              method="POST"
              enctype="multipart/form-data"
            >
              <td class="original"></td>
              <td>
                Email
              </td>
              <td class="delete">
                {%csrf_token%}
                <input type="hidden" name="type" value="email" />
                <input type="text" name="subject" placeholder="Subject" />

                <input type="file" placeholder="Template" name="template" />
              </td>
              <td>
                <input type="submit" value="Send" />
              </td>
            </form>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </div>
</div>
{% endblock %}
